body {
  font-family: 'Work Sans';
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  color: #ffffff;
  padding-top: 104px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

header h1 {
  width: 64px;
}

header nav a {
  margin-left: 10px;
  transition: border 0.3s ease-in;
  border-bottom: solid 2px #00000000;
  padding-bottom: 3px;
}

header nav a:hover {
  border-color: #555555;
}

header nav a.selected {
  border-color: #ffffff;
}

.images {
	display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}

.image {
  width: 300px;
  margin: 10px;
  position: relative;
}

.small {
  width: 250px;
}

.large {
  width: 400px;
}

.image img {
  transition: filter 0.7s;
}

.image:hover img {
  filter: grayscale(100%);
}

.overlay {
  position: absolute;
  background-color: #0000004a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.7s;
  z-index: 2;
}

.image:hover .overlay {
  opacity: 1;
  filter
}

h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

footer nav a {
  width: 16px;
  margin-left: 5px;
  display: inline-block;
}

.list {
  max-width: 640px;
  margin: 120px auto;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}

.list a:after {
  content: "/";
}

.list a:last-child:after {
  content: "";
}

.list a img {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  pointer-events: none;
  transition: opacity 0.3s;
}

.list a:hover img {
  opacity: 1;
}

.about {
  max-width: 640px;
  margin: 120px auto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}